<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="card">
        <h2 >Welcome To The<br> Brain Blox</h2>
        <button><a href="#footer">Get Started</a></button>
      </div>
      <footer id="footer">
        <div class="col col1">
          <h3>Brain Blox</h3>
          <p>Made with <span style="color: #BA6573;">❤</span> by Somnath</p>
          <div class="social">
            <a href="..." target="_blank" class="link"><img src="https://assets.codepen.io/9051928/codepen_1.png" alt="" /></a>
            <a href="..." target="_blank" class="link"><img src="https://assets.codepen.io/9051928/x.png" alt="" /></a>
            <a href="..." target="_blank" class="link"><img src="https://assets.codepen.io/9051928/youtube_1.png" alt="" /></a>
          </div>
          <p style="color: #818181; font-size: smaller">2024 © All Rights Reserved</p>
        </div>

        <div class="col col2">
          <a class="cp-btn-2" onclick="window.location.href='home'">HOME</a><br>

          <p>Registrations</p>
          <a class="cp-btn-2" onclick="window.location.href='..'">REGISTRATION 1</a><br>
          <a class="cp-btn-2" onclick="window.location.href='...'">REGISTRATION 2</a><br>
          <p>Results & Abouts</p>

          <a class="cp-btn-2" onclick="window.location.href='leaderboard'">Leaderboard</a><br>
          <a class="cp-btn-2" onclick="window.location.href='login-register'">Login & Register</a><br>
         
        </div>
      

      
        <div class="backdrop"></div>
      </footer>
</body>
</html>
